.error-state{
  padding:60px 0;
  display:flex;
  justify-content:center;
}

.error-card{
  background:#fff;
  padding:40px 50px;
  border-radius:14px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  max-width:420px;
  width:100%;
}

.error-icon{
  margin-bottom:10px;
}
.error-icon svg{
    width: 40px;
    height: 40px;
}

.error-card h3{
  font-size:22px;
  line-height: 28px;
  margin-bottom:10px;
}

.error-card p{
  color:#6b7280;
  font-size: 18px;
  line-height: 24px;
  margin-bottom:25px;
}

.retry-btn{
  display:inline-flex;
  align-items:center;
  gap:8px;
  background:#2b7de9;
  color:#fff;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  font-size: 16px;
  line-height: 22px;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
}

.retry-btn:hover{
  background:#1f6ed4;
}

.retry-btn svg{
  width:16px;
  height:16px;
  fill:#fff;
}