.footer{
    padding: 60px 0;
    background: #efefef;
    border-top: 3px solid #c5c5c5;
}

.footer-inner{
    max-width: 644px;
    margin: 0 auto;
}
.footer p{
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .nav a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
}

/* MOBILE */

@media (max-width: 768px) {
    .footer{
    padding: 35px 0;
}
 .footer p{
    font-size: 18px;
    line-height: 24px;
}
.footer nav{
   flex-direction: column;
}
.footer nav a {
margin-bottom: 10px;
}

}