:root {
 --primary-color: #1e90ff;
  --gradient-start: #0f5ef7;
  --gradient-end: #2bb6ff;

  --text-dark: #222;
  --text-light: #777;

  --border-radius: 10px;
  --shadow-soft: 0 4px 20px rgba(0,0,0,0.08);
}

/* CSS Reset */

a,article,aside,audio,b,blockquote,body,canvas,caption,center,dd,details,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,label,legend,li,mark,menu,nav,object,ol,p,pre,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,video{border:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:100%;font-weight:400;list-style:none;margin:0;padding:0;text-decoration:none;vertical-align:baseline}*{word-wrap:break-word;-webkit-tap-highlight-color:transparent;margin:0;padding:0}*,:after,:before{box-sizing:border-box}a{color:inherit;outline:none;text-decoration:none}img{display:block;height:auto;width:100%}:focus{box-shadow:none;outline:0}a:hover{cursor:pointer}button,input,textarea{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;border:none;border-radius:0;box-shadow:none;font-family:inherit;font-weight:inherit;line-height:normal;outline:0}button{border:none;cursor:pointer;display:inline-block}textarea{overflow:auto;resize:vertical;vertical-align:top}input[type=submit]{-webkit-appearance:none;-moz-appearance:none;cursor:pointer}a:focus,a:hover,button:focus,button:hover,textarea:focus{cursor:pointer;outline:none}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}ul{list-style:none}.html{-webkit-text-size-adjust:100%;font-size:62.5%;scroll-behavior:smooth}body,html{height:100%}body{-webkit-font-smoothing:antialiased;background:#fff;font-family:Inter, system-ui, Arial, sans-serif;font-weight:400;overflow-x:hidden;}

/* Base Styles */
#root{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.container {
   margin: 0 auto;
   max-width: 1224px;
   padding: 0 16px;
}
